body {
    overflow: auto;
    margin: 0 auto;
    padding: 0 auto;
}

#main-row {
    display: flex;
}

#left-panel {
    min-height: 100vh !important;
}

#right-panel {
    padding-left: 20px;
    padding-right: 20px;
}

#main-row {
    margin-bottom: 0 !important;
}

ol {
    list-style: none;
    padding-left: 0.5em;
}

.msg-title {
    display: flex !important;
}

.msg-title h5 {
    font-weight: 700;
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.msg-title span {
    position: relative;
    padding-top: 1.2em;
    color: #999
}

.msg-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
}